@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.015em;
    text-rendering: optimizeLegibility;
    background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: black;
    padding: 0 10px 0 30px;
    box-sizing: border-box;
    position: sticky;
    top: 0%;
}

.left {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left svg {
    border-radius: 40px;
}

.home {
    background-color: #2a2a2a;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.home:hover {
    background-color: #393838;
}

.search {
    flex: 1;
    padding-left: 10px;
    background-color: #1d1d1d;
    border-radius: 40px;
    height: 50px;
    width: 447px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 22px;
    position: relative;
    right: 21px;
    color: #b3b3b3;
    transition: background-color 300ms ease-out;
    transition: border 300ms ease-out;
}

.search:hover {
    border: 1px solid rgb(87, 87, 87);
    background-color: #393838;
}

.search:hover .L svg path{
    fill: #ffffff;
}

.L {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.L svg path{
    transition: fill 0.5s;
}

.R {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.type {
    font-family: sans-serif;
    font-size: 16px;
}

.box {
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.2);
}

.box path {
    fill: #b3b3b3;
    transition: fill 0.3s ease;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.box:hover path,
a:hover .box path {
    fill: #ffffff;
    height: 29px;
    width: 29px;
}

.right {
    display: flex;
    gap: 22px;
    align-items: center;
    flex: 0 0 auto;
    font-family: sans-serif;
    font-size: 15px;
    white-space: nowrap;
}

.l {
    display: flex;
    gap: 10px;
}

.l a {
    text-decoration: none;
}

.l div {
    color: #b3b3b3;
    font-weight: bolder;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
}

.l div:hover {
    transform: scale(1.05);
    color: #ffffff;
}

.r {
    display: flex;
    gap: 13px;
}

.r a {
    text-decoration: none;
    color: #b3b3b3;
}

.line {
    background-color: #fff;
    height: 25px;
    width: 2px;
    margin-right: 13px;
}

.intall {
    display: flex;
    gap: 7px;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.install svg {
    color: #b3b3b3;
    transition: color 0.3s;
}

.intall:hover {
    transform: scale(1.05);
    color: #ffffff;
}

.install:hover svg {
    color: #ffffff;
}

.app {
    color: #b3b3b3;
    font-weight: bolder;
    font-size: small;
    line-height: 18px;
    transition: color 0.3s;
}

.app:hover {
    color: #ffffff;
}

.sign {
    color: #b3b3b3;
    font-weight: bolder;
    font-size: small;
    line-height: 18px;
    margin-left: 20px;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
}

.sign:hover {
    transform: scale(1.05);
    color: #ffffff;
}

.login {
    background-color: #ffffff;
    color: black;
    height: 48px;
    width: 105px;
    border-radius: 45px;
    text-align: center;
    line-height: 45px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
}

.dec {
    text-decoration: none;
}

.login:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.parent {
    display: flex;
}

.library {
    height: 555px;
    width: 423px;
    background-color: #171717;
    border-radius: 8px;
    margin: 0 7px;
    position: sticky;
    top: 64px;
}

.header {
    width: 100%;
    height: 56px;
    display: flex;
    gap: 245px;
    align-items: center;
}

.your {
    color: #ffffff;
    margin-left: 5px;
    width: 125px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.plus {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
    transition: background-color 0.2s;
}

.plus:hover {
    background-color: #2f2f2f;
}

.plus svg path {
    fill: #b3b3b3;
    transition: fill 0.2s;
}

.plus:hover svg path {
    fill: #ffffff;
}

.playlist {
    width: 380px;
    height: 105px;
    padding: 15px;
    margin-top: 28px;
    margin-bottom: 25px;
    margin-left: 7px;
    background-color: #252525;
    border-radius: 10px;
}

.cyfp {
    margin: 4px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.iewhyo {
    margin: 4px;
    margin-top: 12px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.create {
    height: 30px;
    width: 125px;
    margin-top: 25px;
    border-radius: 50px;
    background-color: #ffffff;
    text-align: center;
    line-height: 31px;
    color: #000;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 13px;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
}

.create:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.playlist a {
    text-decoration: none;
}

.tags {
    margin-top: 45px;
    margin-left: 25px;
    display: flex;
    gap: 15px;
}

.tag {
    color: #b8b4b4;
    font-family: sans-serif;
    font-size: 11px;
    cursor: pointer;
}

.mtags {
    margin-top: 17px;
    margin-left: 25px;
    display: flex;
    gap: 15px;
}

.cookies {
    margin-top: 16px;
    margin-left: 25px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.cookies:hover {
    text-decoration: underline;
}

.english {
    height: 30px;
    width: 95px;
    margin-top: 18px;
    margin-left: 22px;
    border: 1px solid rgb(135, 133, 133);
    border-radius: 45px;
    text-align: center;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: transform 0.05s cubic-bezier(0.4, 0, 0.2, 1), border 0.3s;
    cursor: pointer;
}

.english svg path {
    fill: #ffffff;
}

.english div {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.english:hover {
    border: 1px solid white;
    transform: scale(1.03);
}

.main {
    height: 555px;
    width: 1092px;
    background-color: #171717;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.trending {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    height: 47px;
    width: 1029px;
    margin: 5px 33px 0px 33px;
}

.head {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
}

.head:hover {
    text-decoration: underline;
}

.view {
    color: #b3b3b3;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.view:hover{
    text-decoration: underline;
}

.grid {
    height: 277px;
    width: 1015px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    background-color: #171717;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 195px 195px 195px 195px 195px;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.songs{
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.songs img{
    height: 182px;
    width: 182px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
    margin-top: 10px;
    border-radius: 8px;
}

.songs:hover{
    background-color: #393838;
}

.Name{
    margin-left: 10px;
    margin-top: 9px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.Name:hover{
    text-decoration: underline;
}

.singers{
    margin-left: 10px;
    margin-top: 9px;}

.singer{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #b3b3b3;
    text-decoration: none;
}

.singer:hover{
    text-decoration: underline;
}

#popular .songs img{
    border-radius: 100px;
}

.hline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: #313131;
    height: 1px;
    width: 1035px;
}

.lflex{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    height: 210px;
    width: 1035px;
}

.things{
    height: 210px;
    width: 745px;
    display: flex;
    gap: 79px;
    justify-content: flex-start;
}

.Links{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    height: 210px;
    width: 280px;
}

#bold{
    margin-bottom: 13px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: medium;
}

#bold:hover{
    text-decoration: none;
}

.written{
    margin-bottom: 13px;
    color: #b3b3b3;
    font-family: sans-serif;
    transition: color 100ms ease-out;
    cursor: pointer;
}

.written:hover{
    color: white;
    text-decoration: underline;
}

.circles{
    background-color: rgb(41, 41, 41);
    height: 39px;
    width: 39px;
    border-radius: 100px;
    text-align: center;
    line-height: 47px;
    transition: background-color 300ms ease-out;
    cursor: pointer;
}

.circles:hover{
    background-color: rgb(114, 114, 114);
}

#margin{
    margin-top: 0px;
}

.footer{
    color: #b3b3b3;
    font-family: sans-serif;
    position: relative;
    left: 25px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 35px;
}

.preview{
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    height: 44px;
    width: 1496px;
    display: flex;
    gap: 640px;
    cursor: pointer;
}

.LEFT{
    margin-left: 14px;
}

.pre{
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
}

.credit{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

.RIGHT{
    display: flex;
    justify-content: flex-end;
}

.SIGN{
    height: 46px;
    width: 155px;
    background-color: white;
    margin-left: 20px;
    border-radius: 60px;
    text-align: center;
    line-height: 43px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 700;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
}

.SIGN:hover {
    transform: scale(1.05);
}

#radio .songs .singers a:hover{
    text-decoration: none;
}